node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Not yet
Ass_*
4_Hardhat_new
4_Hardhat_live
4_Hardhat_A
4_Hardhat_B
nft
3_openzeppelin.js
Home_Assignments

#Hardhat files
cache
artifacts

